lenguage: java
jdk:
    - openjdk8

sudo: false
scrip: mvn clean verify

notifications:
    email:
        recepients:
            - jgarete89@gmail.com
            - larosamf@gmail.com
            - tomasyavicoli@gmail.com
            - adrianex2@gmail.com

        on_failure: always
            
